#bakerloo {
  background-color: #894E24;
  p {
    color: #ffffff;
  }
}

#piccadilly {
  background-color: #0019A8;
  p {
    color: #ffffff;
  }
}

#central {
  background-color: #DB2421;
  p {
    color: #ffffff;
  }
}

#circle {
  background-color: #FFCE00;
}

#district {
  background-color: #017228;
  p {
    color: #ffffff;
  }
}

#hammersmith-city {
  background-color: #D899AE;
}

#jubilee {
  background-color: #697277;
  p {
    color: #ffffff;
  }
}

#metropolitan {
  background-color: #751156;
  p {
    color: #ffffff;
  }
}

#northern {
  background-color: #000000;
  p {
    color: #ffffff;
  }
}

#victoria {
  background-color: #0990ca;
  p {
    color: #ffffff;
  }
}

#waterloo-city {
  background-color: #76D0BD;
}